.contact {
    .row {
        width: 100%;
        margin: 0;
    }
    .tittle {
        text-align: center;
        padding: 70px;

        h2 {
            font-size: 35px;
            font-weight: 200;
            line-height: 42px;
            letter-spacing: 0;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0.1px;
            width: 771px;
            margin: 0 auto;
            padding: 45px;
        }
    }

    .col-12 {
        padding: 0;
    }

    .col-md-6 {
        padding: 0;
    }

    .content-context {
        width: 500px;
        margin-left: 70px;
    }

    .content {
        h3 {
            font-size: 50px;
            font-weight: 200;
            line-height: 60px;
            width: 468px;
            text-align: left;
            letter-spacing: 0;
        }

        .lead {
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            width: 457px;
            text-align: left;
            letter-spacing: 0.1px;
            padding: 11px;
            margin-left: -10px;
        }
    }

    .footer {
        background: #325dff;

        .container {
            text-align: center;
            padding: 20px;
        }

        span {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
            color: #fff;
        }
    }
}
